

/* ==========================================================================
Author's custom styles
========================================================================== */


body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Fondamento', cursive;
}

.control-group {
  padding-left: 10px;
  padding-right: 10px;
}

.form-horizontal .control-label {
  text-align: left;
  width: 0;
}
.form-horizontal .controls {
  margin-left: 0;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
}
.block {
  background-color: Cornsilk;
  border:1px solid BurlyWood;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*arrondir les coins en haut à gauche et en bas à droite*/
  border-radius:10px 10px;
}













