

/* ==========================================================================
Author's custom styles
========================================================================== */


body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Fondamento', cursive;
}

.control-group {
  padding-left: 10px;
  padding-right: 10px;
}

.controls p {
  margin-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 16px;
  border-bottom: 1px solid black;
  height: 1em ;
}
#pjName p {
  font-size: 18px;
}

.form-horizontal .control-label {
  text-align: left;
}
.form-horizontal .control-group {
  margin-bottom: 10px;
}
.block {
  background-color: Cornsilk;
  border:1px solid BurlyWood;
  padding-top: 1em;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*arrondir les coins en haut à gauche et en bas à droite*/
  border-radius:10px 10px;
}
.block label {
}
.stats label {
  margin-left: 1em;
  font-weight:bold;
}
#attributes {
  text-align: left;
}
#attributes label{
  padding: 5px;
  text-align: left;
  margin-bottom: 10px
}
#attributes input {
  float: right;
  margin-left: auto;
  text-align: right;
}

#charSkills input {
  text-align: right;
}
#advSkill input {
  text-align: left;
}
#charStats label p {
  display: inline;
  margin-left: 2em;
  margin-right: 2em;
}

.dynamicc {
  display: none;
}
.dynamic #charHead {
  display: block;
}
hr {
  display: none;
}
.magicsvg svg {
  display: block;
  width:  100%
  height:  100%
}
