.dynamic {
  display: none;
}
.magicsvg svg {
  display: block;
}
.page {
  //margin: 10mm, 0, 0, 10mm;
  page-break-after: always;
}
.page2 {
  display: block;
  page-break-after: always;
}
.printbreak {
//  margin: 100mm, 0, 0, 10mm;
}
