<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/fondamento.css">
    <link rel="stylesheet" href="css/main.css">

  </head>
  <body>

    <div class="container" ng-app="myApp">
      <!-- Example row of columns -->
      <div id="charHead" class="block form-horizontal" ng-controller="headCtrl">
        <p>
          <i ng-click="vars.edit=!vars.edit" class="icon-edit"></i>
          <i ng-click="save()" class="icon-arrow-up"></i>
          <i ng-click="load()" class="icon-arrow-down"></i>
          <i ng-click="reset()" class="icon-remove"></i>
          <i ng-click="example()" class="icon-heart"></i>
        </p>
        <div class="row-fluid">

          <div class="span4">
            <div class="control-group" id="pjName">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadName">Nom</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.name }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.name" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadPlayer">Joueur</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.player }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.player" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadRace">Race</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.race }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.race" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadSex">Sexe</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.sex }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.sex" type="text">
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadCulture">Culture</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.culture }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.culture" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadOrigin">Origin</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.origin }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.origin" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadProfession">Profession</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.job }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.job" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadFamily">Famille</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.family }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.family" type="text">
              </div>
            </div>
          </div>
          <div class="span4">
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadAge">Age</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.age }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.age" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadHair">Cheveux</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.hair }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.hair" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadEyes">Yeux</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.eyes }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.eyes" type="text">
              </div>
            </div>
            <div class="control-group">
              <label ng-click="vars.edit=true" class="control-label" for="charHeadWeight">Poids</label>
              <div class="controls">
                <p ng-show="!vars.edit">{{ pj.head.weight }}</p>
                <input ng-show="vars.edit" class="pull-right input-medium" ng-model="pj.head.weight" type="text">
              </div>
            </div>
          </div>
        </div>
      </div> 

      <div id="charStats" class="block" ng-controller="attrCtrl">
        <div class="row-fluid">
          <div class="span2">
            <p>Caractéristiques</p>
          </div>
          <div class="stats span10 form-inline">
            <label>FOR <p ng-show="!vars.edit">{{ pj.attributes.FOR }}</p><input ng-show="vars.edit" ng-model="pj.attributes.FOR" type="number" class="input-mini"></label>
            <label>CON <p ng-show="!vars.edit">{{ pj.attributes.CON }}</p><input ng-show="vars.edit" ng-model="pj.attributes.CON" type="number" class="input-mini"></label>
            <label>DEX <p ng-show="!vars.edit">{{ pj.attributes.DEX }}</p><input ng-show="vars.edit" ng-model="pj.attributes.DEX" type="number" class="input-mini"></label>
            <label>TAI <p ng-show="!vars.edit">{{ pj.attributes.TAI }}</p><input ng-show="vars.edit" ng-model="pj.attributes.TAI" type="number" class="input-mini"></label>
            <label>INT <p ng-show="!vars.edit">{{ pj.attributes.INT }}</p><input ng-show="vars.edit" ng-model="pj.attributes.INT" type="number" class="input-mini"></label>
            <label>POU <p ng-show="!vars.edit">{{ pj.attributes.POU }}</p><input ng-show="vars.edit" ng-model="pj.attributes.POU" type="number" class="input-mini"></label>
            <label>CHA <p ng-show="!vars.edit">{{ pj.attributes.CHA }}</p><input ng-show="vars.edit" ng-model="pj.attributes.CHA" type="number" class="input-mini"></label>
          </div>
        </div>
        <div class="row-fluid" id="attributes">
          <div class="span1">
            <p>Attributs</p>
          </div>
          <div class="span3">
            <label>Actions de Combat<input type="text" class="input-mini"></label>
            <label>Mouvement<input type="text" class="input-mini"></label>
          </div>
          <div class="span3">
            <label>Mod de dommage <input type="text" class="input-mini"></label>
            <label>Jet d'amélioration <input type="text" class="input-mini"></label>
          </div>
          <div class="span3">
            <label>Rang d'Action <input type="text" class="input-mini"></label>
            <label>Pénalité d'armure <input type="text" class="input-mini"></label>
          </div>
          <div class="span2">
            <label>Point d'Héroïsme <input type="number" class="input-mini"></label>
          </div>
        </div>
      </div> 

      <div id="charSkills" class="block" ng-controller="skillsCtrl">
        <div class="row-fluid">
          <div class="span6">
            <h4>Compétences</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Compétence</th>
                  <th>% de Base</th>
                  <th>Score Actuel <i ng-click="vars.edit = !vars.edit;" class="icon-edit"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="skill in vars.skills | orderBy:'name'">
                  <td>{{ skill.name }}</td>
                  <td>{{ getBase(skill) }}</td>
                  <td>
                    <div ng-show="!vars.edit">{{ skill.value }}%</div>
                    <div ng-show="vars.edit" class="input-append"><input ng-model="skill.value" type="number" class="input-mini">%<span class="add-on">%</span></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="span6">
            <h4>Compétences avancées</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Compétence</th>
                  <th>% de Base</th>
                  <th>Score Actuel</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Athlétisme</td>
                  <td>FOR+DEX (30%)</td>
                  <td><div class="input-append"><input type="number" class="input-mini">%<span class="add-on">%</span></div></td>
                </tr>
                <tr>
                  <td>Bagarre</td>
                  <td>FOR+DEX (30%)</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Bagarre</td>
                  <td>FOR+DEX (30%)</td>
                  <td>60%</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> 

      <div id="charOther" class="block form-horizontal">
        <div class="row-fluid">
          <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
          <div class="span4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
          <div class="span4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>
        </div>
      </div> 


      <hr>

      <footer>
      <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <script src="js/vendor/jquery-1.9.1.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/angular.min.js"></script>

    <script src="js/main.js"></script>

  </body>
</html>
